@model Test20230527.Models.Bidding

@{
    ViewBag.Title = "Create";

    List<Test20230527.Models.ProjectType> TypeList = ViewBag.ProTypeList;
}

<h2>新增</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>工程</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">                  
            @*@Html.LabelFor(model => model.ProName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">项目名称：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">项目类型：</label>
            <div class="col-md-10">
                <select name="ProTypeID" class="form-control">
                    <option value="0">--请选择--</option>
                    @foreach (var item in TypeList)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProAddress, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">项目地址：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Input, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">录入人：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Input, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Input, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">日期：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Charge, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">投标负责人：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Charge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Charge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">建设单位：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">预计合同金额：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Contacts, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">联系人：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contacts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contacts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">联系电话：</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增工程" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
